.FullPageBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherDisplay {
    position: absolute;
    padding: 0 100px 50px 100px;
    bottom: 0;
}

@media screen and (max-width: 1400px) {
    .weatherDisplay {
        padding: 0 25px 50px 25px;
    }
}

@media screen and (max-height: 800px) {
    .weatherDisplay {
        transform: scale(0.9);
        padding: 0 25px 0px 25px;
    }
}

@media screen and (max-height: 700px) {
    .weatherDisplay {
        transform: scale(0.7);
        width: 130%;
        left: -17.5%;
    }
}
