.currentWeatherDisplay {
    position: absolute;
    display: grid;
    width: calc(100% - 100px);
    grid-template-columns: 10% 20% 20% 50%;
    margin-top: 200px;
}

.currentMinMax img {
    width: 60%;
}

.currentOverview h3 {
    font-size: 25px;
}

.currentOverview h1 {
    font-size: 70px;
    margin-top: -30px;
    color: #FDD021;
}

.currentDetails h3 {
    padding-bottom: 20px;
}

.currentDay {
    display: grid;
    grid-template-columns: calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6);
    background-color: #0000;
}

.currentDay img{
    width: 30%;
}
