.FullPageBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherDisplay {
    position: absolute;
    padding: 0 100px 50px 100px;
    bottom: 0;
}
