.FullPageBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherDisplay {
    background-color: aquamarine;
    padding: 0 50px 0 50px;
}