.upcomingWeatherDisplay {
    position: relative;
    display: grid;
    width: calc(100% - 100px);
    grid-template-columns: repeat(7, calc(100%/7));
}

.upcomingWeatherDisplay img {
    width: 25%;
}

.upcomingWeatherDisplay {
    text-align: left;
}