.navbar{
    background-image: linear-gradient(to top, rgba(2, 48, 71, 0.71), rgb(142, 202, 230));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    height: 50px;
    box-shadow: -10px 10px 10px rgb(51, 51, 51) ;
}

.navbar li{

    list-style: none;
    display:inline-block;
    margin:auto;
}

.navbar li a{
    text-decoration: none;
    color: rgb(40, 74, 119);
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    padding:5px 20px;
}

.navbar li a:hover{
    color: rgb(75, 7, 247);
    border: #53008b;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active{
    background-color: #285b6c;
    border-radius: 5px;
}
.right{
    float: right;
    text-align: right;
}