.mid {
    background-color: aqua;
    display: inline-block;
    width: 63%;
    margin: auto;
}

.navbar{

    display:inline-block;
}




.navbar li{

    list-style: none;
    display:inline-block;

    margin:auto;
}

.navbar li a{
    text-decoration: none;
    color:rgb(29, 25, 231);
    font-size: 18px;
    padding:8px 20px;
}

.navbar li a:hover{
    color:rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active{
    background-color: deepskyblue;
    border-radius: 5px;
}
.right {
    background-color: aqua;
    display: inline-block;
    width: 8%;

    font-size: 18px;
    padding: 18px 26px;
    color: #1d19e7;
}

.right {
    background-color: aqua;
    display: inline-block;
    width: 8%;

    font-size: 18px;
    padding: 18px 26px;
    color: #1d19e7;
}
.right a{
    text-decoration:none;
}
.right:hover{
    font-weight:bolder;
}

.left {
    background-color: #6ba7d2;
    display: inline-block;
    width: 17%;
    font-size: 18px;
    padding: 18px 17px;
    color: #2a26d7;


}
.left a{
    text-decoration:none;
}
.left:hover{
    font-weight:bolder;
}