
.tilediv{
    background-image: linear-gradient(to bottom right, rgb(81, 98, 255), rgb(0, 153, 255));
    width: 120px;
    height: 130px;
    border-radius: 25px;
}

.content-holder{
    margin: 25px;
    height: 110px;
}


.material-symbols-outlined {
    color: #ffee00;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    
    margin: 0 0.5rem;
    position: relative;
    top: -0.1rem;
}