
.tilediv{
    background-image: linear-gradient(to bottom right, rgb(2, 48, 71), rgba(33, 158, 188));
    width: 150px;
    height: 130px;
    border-radius: 25px;
    
    
}

.content-holder{
    margin: 25px;
    height: 110px;
    align-self: center;
}

.date {
    font-size: 14px;
    font-weight: 700;
    
    text-align: center;
    color:aliceblue;
    padding-bottom: 20px;
}

.icon-holder{
    float:left;
    font-size: 20px;
}

.temperature-holder{
    color:aliceblue;
    float:left;
    font-size: 20px;
    padding-top: 7px;

}

.material-symbols-outlined {
    color: #ffb703;
    text-align: left;
    padding-right: 8px;
    font-size: 40px !important;
    font-weight: 800 !important;
}