
html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to bottom left, rgb(201, 234, 250), rgb(0, 66, 99));
    background-attachment: fixed;
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-bottom: 10px;
}
h2 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 20px; 
    text-align: center; 
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.infoContainer p{
    margin: 0 0 40px;
    padding: 0;
    font-size: large;
}

.teamContainer{
    display: grid;
    grid-template-areas: 'l s' 'd t' 'a sus';
    width: 80%;
    margin: auto;
    height: 100%;
}
.teamContainer p{
    grid-area: name;
    margin: 0 0 10px;
    padding: 0;
    font-size: 30px;
}
.teamContainer img{
    grid-area:img;
    width: 80px;
    height: auto;
    float: left;
    padding-right: 10px;
}
.teamContainer div{
    display:grid;
    grid-template-areas: 'img name';
    grid-template-columns: 25% auto;
    margin-bottom: 20px;
    width: 40vh;
    transition: transform 0.3s ease-out;
}
/*Make an animation for the team members*/
.teamContainer div:hover{
    transform: scale(1.1);
    
}