.detailContainer {
    opacity: 0.8;
    /* background-color:#ccc; */
    position: fixed;
    width: 100%;
    height: 100%;
    /* top:0px; */
    left: 0px;
    z-index: 1000;
    padding-top: 10%;
}

.statistics {
    /* background-color: chartreuse; */
    text-align: center;
}