html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to bottom left, rgb(142, 202, 230), rgba(2, 48, 71));
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}