
html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to bottom left, rgb(142, 202, 230), rgba(2, 48, 71));
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 200px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-bottom: 10px;}
h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }